### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule domowa index.php
RewriteRule parafia historia_parafii.php
RewriteRule logowanie logowanie.php
RewriteRule wyloguj wyloguj.php
RewriteRule uzytkownik uzytkownik.php
RewriteRule rejestracja rejestracja.php
RewriteRule duchowni duchowni.php
RewriteRule kontakt kontakt.php
RewriteRule biuro biuro.php
RewriteRule admini admini.php
RewriteRule zdjecia zdjecia.php
RewriteRule dodajZdjecie dodajZdjecie.php
RewriteRule szczegolyZdjecia szczegolyZdjecia.php
RewriteRule kasujZdjecie kasujZdjecie.php
RewriteRule aktualizujZdjecie aktualizujZdjecie.php