body {
  background-image: url("../media/pip2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: sans-serif;
  color: black;
  min-height: 100vh;
}

.scrollup {
    width: 100px;
    height: 128px;
    background: url("../media/scrollup.png");
    background-repeat: no-repeat;
    background-size: cover;
    position : fixed;
    right: 25px;
    bottom: 25px;
    display: none;
    z-index:1;
    transition: all 0.5s ease-in-out;
}

.glownezdjecia {
    width: 480px;
    height: 320px;
	width: 40vw;
	height: 44vh;
	position : fixed;
	border: 10px solid #ffffff;
	border-radius: 10px;
    left: 30%;
    top: 54%;
    display: none;
    z-index:1;
}

.oltarz {
    background: url("../media/oltarz2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.korytarz {
    background: url("../media/korytarz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.organy {
    background: url("../media/organy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.scrollup:hover, .store-quant-img:hover {
    transform: scale(0.8);
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.topimg {
	margin-top: 10px;
	margin-bottom: 10px;
}

.content {
	opacity: 0.8;
}

.content2 {
	opacity: 0.9;
}

.hidden {
    display: none;
}
