body {
  background-image: url("../media/pip2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-top: 5rem;
  font-family: sans-serif;
  color: black;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.scrollup {
    width: 100px;
    height: 128px;
    background: url("../media/scrollup.png");
    background-repeat: no-repeat;
    background-size: cover;
    position : fixed;
    right: 25px;
    bottom: 25px;
    display: none;
    z-index:1;
    transition: all 0.5s ease-in-out;
}

.scrollup:hover, .store-quant-img:hover {
    transform: scale(0.7);
}